.payment {
    &-text {
        &_title {
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            margin: 0 0 20px;
        }
        &_description,
        &_advice,
        &_warn {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            max-width: 729px;
            margin: 0 auto;
            color: #637683;
            margin-bottom: 2rem;
        }
        &_warn {
            color: red;
        }
    }
    &_cards {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        width: 100%;
        max-width: 729px;
        margin: 0 auto;
        @media (max-width: 767px) {
            gap: 10px;
        }

        &__content {
            border-width: 1px 1px 1px;
            background: #fff;
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            height: 283px;
            box-shadow: 0 0 50px rgba(16, 12, 46, 0.1);
            border-radius: 16px;
            position: relative;
            overflow: hidden;
            @media(max-width: 1162px) {
                border-width: 1px;
                max-width: 230px;
                margin: 0 auto;
                width: 100%;
            }
        }
        &__cost {
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
            padding: 10px 0 5px;
            border-bottom: 1px solid #e7ebf3;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .old-price {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.01em;
                text-decoration-line: line-through;
                color: #ff002e;
                margin: 0 8px 0 0;
            }
        }
        &__coins {
            padding: 5px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 33%;
                right: 2%;
                background: url('/ico/coin.svg') no-repeat;
                width: 15px;
                height: 15px;
            }
        }
        &__voices {
            display: grid;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            line-height: 29px;
            color: #0084ff;
            margin: 20px 0 5px;
            &_default {
                display: block;
                font-size: 29px;
                line-height: 29px;
                color: #0084ff;
                span {
                    font-weight: 600;
                    margin: 0;
                    margin-bottom: 5px;
                    display: block;
                }
            }
            &_pro {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                margin: 0;
                color: #637683;
            }
        }
        &__choose {
            button {
                height: 39px;
                width: 100%;
                max-width: 203px;
                background: #0084ff;
                border-radius: 3px;
                border: 0;
                color: #fff;
                margin: 20px auto 10px;
                font-size: 16px;
                line-height: 19px;
                font-weight: 600;
            }
        }
        &__hit {
            top: 0;
            left: 50%;
            position: absolute;
            transform: rotate(-45deg) translate(-67%, -145%);
            transform-origin: left bottom;
            background-color: #4ddf4a;
            font-weight: 700;
            font-size: 15px;
            line-height: 100%;
            z-index: 1000;
            display: inline-block;
            width: 100%;
            color: #fff;
            padding: 45px 0 5px;
            @media(max-width: 1162px) {
                transform: rotate(-45deg) translate(-66%, -138%);
            }
        }

        &__bonus {
            z-index: 0;
            transform: rotate(45deg) translate(-12%, -265px);
            font-weight: 700;
            font-size: 9px;
            line-height: 100%;
            transform-origin: top left;
            background-color: #ff006b;
            position: absolute;
            color: #fff;
            display: inline-block;
            width: 100%;
            padding: 45px 0 5px;
            @media(max-width: 1162px) {
                transform: rotate(45deg) translate(-13%, -263px);
            }
        }

        &__8 {
            transform: rotate(45deg) translate(-11%, -281px);
            font-weight: 700;
            font-size: 15px;
            line-height: 100%;
            z-index: 1;
            transform-origin: top left;
            background-color: #ff006b;
            position: absolute;
            color: #fff;
            display: inline-block;
            width: 100%;
            padding: 45px 0 3px;
            @media(max-width: 1162px) {
                padding: 45px 0 1px;
                transform: rotate(45deg) translate(-12%, -277px);
            }
        }

        &__10 {
            transform: rotate(45deg) translate(-12%, -282px);
            font-weight: 700;
            font-size: 15px;
            line-height: 100%;
            z-index: 1;
            transform-origin: top left;
            background-color: #ff006b;
            position: absolute;
            color: #fff;
            display: inline-block;
            width: 100%;
            padding: 45px 0 2px;
            @media(max-width: 1162px) {
                padding: 45px 0 1px;
                transform: rotate(45deg) translate(-13%, -277px);
            }
        }
    }
    .form_refill {
        margin: 50px auto;
        max-width: 740px;
        text-align: left;
        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            text-align: left;
            margin: 5px 2px;
            width: 80%;
        }
        &__input-row {
            margin: 5px 2px;
            line-height: 0;
            display: inline-flex;
            position: relative;
            // max-width: 350px;
            width: 100%;
            line-height: 0;
            @media(max-width: 519px) {
                flex-direction: column;
            }

            .input__currency {
                background: #fff;
                border: 1px solid #e7ebf3;
                border-radius: 8px;
                width: 100%;
                max-width: 350px;
                padding: 10px;
                line-height: 150%;
                transition: 0.25s all ease-in-out;
                margin: 5px;
                margin-left: 0;
                margin-right: 4px;
                overflow: visible;
                position: relative;
                input {
                    width: 100%;
                }
                &::after {
                    content: '₽';
                    position: absolute;
                    display: block;
                    top: 10px;
                    right: 25px;
                    width: 20px;
                    height: 20px;
                }
            }
            button {
                background: #0084ff;
                color: #fff;
                border: 1px solid rgba(0, 0, 0, 0);
                font-weight: 600;
                border-radius: 8px;
                width: 25%;
                padding: 10px;
                line-height: 150%;
                transition: 0.25s all ease-in-out;
                cursor: pointer;
                margin: 5px;
                margin-left: 0;
                margin-right: 4px;
                font-size: inherit;
                @media(max-width: 519px) {
                    width: 50%;
                }
            }
        }
        &__bonus {
            display: flex;
            margin: 5px 2px;
            height: 49px;
            justify-content: start;
            align-items: flex-start;
            color: #637683;

            span {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 18%;
                    left: 105%;
                    background: url('/ico/coin.svg') no-repeat;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}
