.nav {
    display: flex;
    flex-direction: row;
    &-text {
        padding: 0.7rem;
        font-size: 1.1rem;
        color: inherit;
        transition: 0.3s;
    }
    &-text--register {
        @media(max-width: 420px) {
            display: none;
        }
    }
    &-text:hover {
        cursor: pointer;
        color: #007bff;
        transition: 0.3s;
    }
}
