.logo {
    position: relative;
    height: 38px;
    &-text {
        margin: -5px 10px;
        font-size: 1.9rem;
        font-weight: 700;
    }
    &-img {
    }
    & > a {
        // display: block;
        text-decoration: none;
        color: black;
    }
    & > a:hover {
        cursor: pointer;
        color: #0243d9;
    }
    .flex {
        display: flex;
        height: 100%;
    }
}
