.article {
    text-align: left;
    &_title {
        &__h2 {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.01em;
            line-height: 120%;
            margin-bottom: 20px;
        }
    }
    &_text {
        &__p {
            color: #2e495a;
            margin-bottom: 1rem;
        }
    }
    .html_container {
        color: #002033;
        ol {
            margin-bottom: 1rem;
            display: block;
            list-style-type: decimal;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            unicode-bidi: isolate;
        }
    }
}
