.faq {
    h1 {
        margin: 60px 0;
        font-size: 30px;
        line-height: 140%;
    }
    &-article {
        padding-bottom: 40px;
        text-align: left;
        & > a {
            color: #007bff;
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
    &-info {
        text-align: center;
        margin: 2rem 0;
        &__title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 36px;
            letter-spacing: 0.01em;
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 35px;
            color: #2e495a;
        }
        &__link {
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            & a {
                background-color: #ececec;
                display: flex;
                align-items: center;
                padding: 10px 12px;
                border-radius: 20px;
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background-image: url('/ico/tg.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 10px;
                }
            }
        }
    }
}
